extends ./../index.pug

block main-content
  h1
    | Фестивали

  div.events-page-wrapper
    if yearList.length
      ul.year-list
        each year in yearList
          li(class=year == eventsYear ? 'selected': '')
            a(href='/events/' + year)= year

    if eventsData.length
      each eventData in eventsData
        include ../partials/event

  include ../documents/event-request-manual.pug


block after-index-script
  script(src='/dist/js/landing-events.js?timestamp=' + appStartTime)