extends ../index

block main-content
  div.main-page-wrapper
    if newsData && newsData.length
      h2
        | Недавние новости
      include ../partials/news-list

block after-index-script
  script(src='/dist/js/landing-main.js')