extends ../index

block main-content
  div.main-page-wrapper
    if eventData
      div.main-page-block
        h2
          | Ближайшее событие
        include ../partials/event
    if newsData && newsData.length
      div.main-page-block
        h2
          | Недавние новости
        include ../partials/news-list

    include ../documents/polozhenie-fest-19.pug
    include ../documents/printsipy-raboty-istorichekoy-komissii.pug

block after-index-script
  script(src='/dist/js/landing-main.js?timestamp=?timestamp=' + appStartTime)