extends ./../index.pug

block main-content
  div.news-list-page-wrapper
    h1
      | Новости
    include ../partials/news-list

  if pagingParams.pagesCount > 1
    ul.pager
      - var i = 1;
      while i <= pagingParams.pagesCount
        li(class=pagingParams.pageIndex == i ? 'active' : '')
          a(href='/news' + (i > 1 ? '?pageIndex=' + i : ''))= i
          - i++

block after-index-script
  script(src='/dist/js/landing-news-list-page.js?timestamp=' + appStartTime)