node_modules/*
.idea/*
static/dist/*
package-lock.json
server/config/app-config.json
resources/bug-gifs/*
db/*
upload/*
static/resources/images/news/*
!static/resources/images/news/_init.png
static/resources/images/temp/*
!static/resources/images/temp/_init.png