- eventRequests = (eventRequests || []).filter(function(er) { return !!er._id && !!er.user; });
- var notAcceptedEventRequests = eventRequests.filter(function(er) { return er.status === 'not_accepted';})
- var newEventRequests = eventRequests.filter(function(er) { return er.status === 'new';})
- var inProcessEventRequests = eventRequests.filter(function(er) { return er.status === 'in_process';})
- var confirmedEventRequests = eventRequests.filter(function(er) { return er.status === 'done';})
- var getEventRequestHtml = function(er) {
-   var href = '/event_request/' + er.uid;
-   var fullName = er.participantName || (er.user ? er.user.surname + ' ' + er.user.name : 'Пользователь удален');
-   return '<span>' + fullName + '</span>'
- }
- var getEventRequestsListHtml = function(listData, listTitle) {
-   if(!listData.length) {
-     return '';
-   }
-   var listItemsHtml = listData.map(function(er) { return '<li>' + getEventRequestHtml(er) + '</li>'; }).join('')
-   var listHtml ='<ul class="event-request-list">' + listItemsHtml + '</ul>';
-   return '<b>' + listTitle + '</b>' + listHtml
- }

div.event-request-list-container
  if eventRequests.length
    != getEventRequestsListHtml(confirmedEventRequests, 'Принятые заявки')
    != getEventRequestsListHtml(inProcessEventRequests, 'Заявки на рассмотрении')
    != getEventRequestsListHtml(notAcceptedEventRequests, 'Не допущенные заявки')
    != getEventRequestsListHtml(newEventRequests, 'Новые заявки')
  else
    b= "Список заявок пуст"