
if newsData.length
  ul.news-list-container
    each news, index in newsData
      li
        a(href='/news/' + (news.seoUrl || news._id))
          div.news-header
            b.title= news.title
            span.date= news.dateString
          p.news-shot-description= news.shortDescription