doctype html
html(ng-app='jeweleryApp')
  head
    title
      block title
        | Официальный сайт фестиваля Куликово поле
  body
    div.page-content
      div.header
        div.top-panel
          a.logo(href="/")
            span
              | Официальный сайт исторического фестиваля
            br
            b.fest-name
              | КУЛИКОВО ПОЛЕ

          div.auth-container
            if logedInUserData
              a(href='/profile')= logedInUserData.fullName
              div.separator
              a(href="/logout")
                | Выйти
            else
              a(href="/auth")
                | Войти
              div.separator
              a(href="/registration")
                | Зарегистрироваться

      ul.top-menu
        li
          a(href='/')
            | Главная
        li
          a(href='/news')
            | Новости

      div.main-content-wrapper
        block main-content

      div.footer

  script(src='/dist/js/landing-index.js')
  block after-index-script