doctype html
html(ng-app='jeweleryApp')
  head
    title
      block title
        | Официальный сайт фестиваля Куликово поле
  body
    div.page-content
      div.header
        div.top-panel
          a.logo(href="/")
            img(src="/resources/images/logo.png")
            span
              | Официальный сайт исторического фестиваля
            br
            b.fest-name
              | КУЛИКОВО ПОЛЕ

          div.auth-container
            if logedInUserData
              a.text-with-icon.knight-head-2-black-icon(href='/profile')= logedInUserData.fullName
              div.separator
              a.text-with-icon.logout-icon(href="/logout")
                | Выйти
            else
              a(href="/auth")
                | Войти
              div.separator
              a(href="/registration")
                | Зарегистрироваться

      ul.top-menu
        li
          a(href='/')
            | Главная
        li
          a.text-with-icon.parchment-black-icon(href='/news')
            | Новости
        li
          a.text-with-icon.swords-cross-black-icon(href='/events')
            | Фестивали
        if hasEventRequests
          li
            a.text-with-icon.sword-black-icon(href='/user_event_requests/')
              | Ваши заявки


      div.main-content-wrapper
        block main-content

      div.footer

  script(src='/dist/js/landing-index.js?timestamp=' + appStartTime)
  block after-index-script