@import './variables.scss';

a {
    color: $main-dark-blue-color;
    cursor: pointer;
}

b {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: $standard-header-tag-bottom-margin;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: $standard-header-tag-bottom-margin;
}

p {
    line-height: 1.5em;
}

.disabled {
    opacity: 0.5;
}

.input-container.with-fly-label {
    padding: 1em 0;
    position: relative;

    input {
        width: 100%;
        border: none;
        font-size: inherit;
        border-bottom: 1px solid black;

        &:focus,
        &.not-empty {
            + label {
                top: 0;
                font-size: 0.8em;
            }
        }
        &:focus {
            border-bottom: 1px solid $main-dark-blue-color;

            + label {
                color: $main-dark-blue-color;
            }
        }
        &.invalid:not(:focus) {
            border-color: $invalid-red-color;

            + label {
                color: $invalid-red-color;
            }
        }
    }

    label {
        position: absolute;
        top: 1em;
        left: 0;
        color: $gray-blue-color;
        transition: font-size 0.3s, top 0.3s;
    }
}

button {
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    background: $main-light-blue-color;
    border: 1px solid transparent;
    font-weight: bold;

    &:focus,
    &:hover {
        border-color: $main-dark-blue-color;
    }
}

.news-list-container {
    overflow: auto;

    li {
        overflow: hidden;
        margin-bottom: 0.5em;

        > a {;
            display: inline-block;
            height: 6.5em;
            padding: 0.25em;
            line-height: 1.5em;
            width: 100%;
            color: black;
            border: 1px solid;
            border-color: transparent;
            border-bottom-color: $main-light-blue-color;
            box-sizing: border-box;

            &:hover {
                border-color: $main-dark-blue-color;
            }
            .news-header {
                height: 1.5em;

                .title {
                    display: inline-block;
                    max-width: calc(100% - 80px);
                }
                .date {
                    display: inline-block;
                    width: 80px;
                    float: right;
                    color: $main-dark-blue-color
                }
            }
            .news-shot-description {
                height: 4.5em;
                overflow: hidden;
            }
        }
    }
}

.pager {
    li {
        font-size: 1.4em;
        display: inline-block;
        margin-right: 0.5em;
        border: 1px solid $main-dark-blue-color;

        a {
            padding: 0.15em 0.3em;
        }
        &.active {
            background: $main-dark-blue-color;
            a {
                color: white;
            }
        }
        &:hover {
            background: $gray-background-color;
        }
    }
}