@import './variables.scss';

a {
    color: $main-dark-blue-color;
    cursor: pointer;
}

strong,
b {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: $standard-header-tag-bottom-margin;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: $standard-header-tag-bottom-margin;
}

p {
    line-height: 1.5em;
}

.disabled {
    opacity: 0.5;
}

.text-with-icon {
    display: inline-block;
    padding-left: 1.2em;
    background-size: 1em;
    background-repeat: no-repeat;

    $icon-names: "knight-head-2-black", "logout", "parchment-black", "swords-cross-black", "sword-with-shield-black",
        "sword-black";

    @each $icon-name in $icon-names {
        &.#{$icon-name}-icon {
            background-image: url("/resources/icons/#{$icon-name}.svg");
        }
    }
}

textarea {
    padding: 0.4em;
    box-sizing: border-box;
}

.input-container,
.textarea-container {
    &.with-fly-label {
        padding: 1em 0;
        position: relative;

        input,
        textarea {
            width: 100%;
            border: none;
            font-size: inherit;
            border-bottom: 1px solid black;

            &:focus,
            &.not-empty {
                + label {
                    top: 0;
                    font-size: 0.8em;
                }
            }
            &:focus {
                border-bottom: 1px solid $main-dark-blue-color;

                + label {
                    color: $main-dark-blue-color;
                }
            }
            &.invalid:not(:focus) {
                border-color: $invalid-red-color;

                + label {
                    color: $invalid-red-color;
                }
            }
        }
        textarea {
            border: 1px solid black;
            + label {
                top: 1.4em;
                left: 0.4em;
            }
            &:focus,
            &.not-empty {
                + label {
                    left: 0;
                }
            }
        }
        label {
            position: absolute;
            top: 1em;
            left: 0;
            color: $gray-blue-color;
            transition: font-size 0.3s, top 0.3s;
        }
    }
}

button {
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    background: $main-light-blue-color;
    border: 1px solid transparent;
    font-weight: bold;

    &:focus,
    &:hover {
        border-color: $main-dark-blue-color;
    }
}

.colored-label {
    color: $main-dark-blue-color;
}

input[type=radio] {
    display: none;

    &+label {
        cursor: pointer;
        display: inline-block;
        height: 1em;
        padding-left: 1.5em;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: -1px;
            height: 1em;
            width: 1em;
            border: 2px solid $main-dark-blue-color;
            border-radius: 0.5em;
            box-sizing: border-box;
            content: ' ';
        }
    }
    &:checked {
        &+label:after {
            position: absolute;
            left: calc(0.3em - 1px);
            top:calc(0.3em - 2px);
            height: 0.4em;
            width: 0.4em;
            border: 1px solid $main-dark-blue-color;
            background: $main-dark-blue-color;
            border-radius: 0.5em;
            content: ' ';
        }
    }
}

.horizontal-radio-buttons-container input[type=radio]+label {
    margin-right: 1em;
}

.file-input-wrapper {
    input[type=file] {
        display: none;
    }
    .notification-text {
        color: $main-error-red-color;
    }
    margin: 1em 0;
}

.news-list-container {
    overflow: auto;

    li {
        overflow: hidden;
        margin-bottom: 0.5em;

        > a {;
            display: inline-block;
            height: 6.5em;
            padding: 0.25em;
            line-height: 1.5em;
            width: 100%;
            color: black;
            border: 1px solid;
            border-color: transparent;
            border-bottom-color: $main-light-blue-color;
            box-sizing: border-box;

            &:hover {
                border-color: $main-dark-blue-color;
            }
            .news-header {
                height: 1.5em;

                .title {
                    display: inline-block;
                    max-width: calc(100% - 80px);
                }
                .date {
                    display: inline-block;
                    width: 80px;
                    float: right;
                    color: $main-dark-blue-color
                }
            }
            .news-shot-description {
                height: 4.5em;
                overflow: hidden;
            }
        }
    }
}

.pager {
    li {
        font-size: 1.4em;
        display: inline-block;
        margin-right: 0.5em;
        border: 1px solid $main-dark-blue-color;

        a {
            padding: 0.15em 0.3em;
        }
        &.active {
            background: $main-dark-blue-color;
            a {
                color: white;
            }
        }
        &:hover {
            background: $gray-background-color;
        }
    }
}