@import './variables.scss';

.header {
    background: $main-light-blue-color;
    padding: $standard-paddings;
    font-size: 1.3em;

    .top-panel {
        overflow: auto;
        padding: 0.5em 0;

        .logo {
            display: inline-block;

            img {
                float: left;
                height: 2.4375em;
                margin-right: 0.5em;
            }
            .fest-name {
                font-size: 1.4375em;
            }
        }

        .auth-container {
            display: inline-block;
            float: right;
            line-height: 1em;

            .separator {
                height: 2px;
                margin: 5px 0;
                background: white;
            }
        }
    }
}