@import './../../common/scss/reset.scss';
@import './common.scss';
@import './header.scss';
@import './variables.scss';

html, body {
    width: 100%;
    height: 100%;
    font-size: $main-font-size;
    background: $gray-background-color;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
    background: url("/resources/images/main-background.jpg") no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-content {
    margin: 0 auto;
    max-width: 1360px;
    min-height: 100%;
    background: white;
    background: rgba(255, 255, 255, 0.95);

    .main-content-wrapper {
        padding: $standard-paddings;
    }
}

.top-menu {
    padding: $standard-paddings;
    margin-bottom: 1em;
    border-bottom: 1px solid $main-dark-blue-color;

    li {
        font-size: 1.3em;
        margin: 0.3em 1.5em 0.3em 0;
        display: inline-block;
        position: relative;

        &:before {
            display: inline-block;
            width: 0px;
            height: 3px;
            left: 50%;
            top: 100%;
            content: ' ';
            transition: left 0.5s, width 0.5s;
            position: absolute;
        }

        &:hover,
        &.active {
            &:before {
                width: 100%;
                left: 0;
                background: $main-dark-blue-color;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.document-content-container {
    margin-bottom: 2em;

    ol,
    ul {
        counter-reset: item;

        li {
            display: block;
            margin: 0.4em 0 0.4em 1em;
            line-height: 1.2em;
        }
    }

    ol {
        li {
            a {
                display: inline;
            }

            &:before {
                content: counters(item, ".") " ";
                counter-increment: item;
            }

            b.list-title {
                font-weight: bold;
            }
        }

        div.list-like-container {
            > b {
                margin: 0.4em 0;
                display: block;
            }

            > div {
                margin: 0.4em 0;
                margin-left: 1em;
            }
        }
    }
}