$main-dark-blue-color: #00639C;
$main-light-blue-color: #D9EBFA;
$main-error-red-color: red;
$gray-blue-color: #A5BBCC;
$invalid-red-color: red;
$gray-background-color: #F7F7F7;
$blue-background-color: #E1E5EB;

$main-font-size: 16px;
$standard-paddings: 0.3em 0.7em;
$standard-header-tag-bottom-margin: 0.5em;
