b {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;

    th {
        font-weight: bold;
    }
    th, td {
        text-align: left;
        padding: 4px 6px;
        border: 1px solid black;
        margin: 0;

        &.name-cell {
            width: 200px;
        }
        &.role-cell {
            width: 100px;
        }
        &.region-cell {
            width: 60px
        }
        &.empty-cell {
            width: 145px;
        }
    }
}