@import './../variables.scss';

label + select {
    display: block;
    margin: 5px 0;
}

.documents-container {
    margin-bottom: 1em;

    a {
        margin-left: 24px;
        display: inline-block;
        vertical-align: middle;
    }

    .document-link-cnt {
        margin-top: 7px;
        .download-link {
            height: 16px;
            width: 16px;
            background: url('/resources/icons/download.svg');
            background-repeat: no-repeat;
            background-size: 16px 16px;
        }
    }
}