@import './../variables.scss';

.auth-page-wrapper,
.registration-page-wrapper {
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 0;

    h1 {
        margin-bottom: 0.8em;
        text-align: center;
    }

    .input-container.with-fly-label {
        font-size: 1.2em;
    }

    .error-text {
        color: $invalid-red-color;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0.5em;
    }

    button {
        margin: 0 auto;
    }

    .main-page-link {
        display: inline-block;
        width: 100%;
        margin-top: 1em;
        text-align: center;
    }
}