.event-request-page-wrapper {
    b {
        display: block;
        margin: 1em 0;
    }
    .photo-list {
        overflow: auto;

        li {
            float: left;
            margin-right: 1em;

            img {
                max-height: 300px;
            }
        }
    }

    .event-request-chat-container .textarea-container {
        margin-top: 0.5em;
        padding-bottom: 0;

        .send-chat-message-btn {
            display: none;
        }
        textarea.not-empty + label + .send-chat-message-btn {
            display: initial;
        }
    }
}