@import './../variables.scss';

.events-page-wrapper {
    .year-list {
        text-align: left;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid $main-dark-blue-color;

        li {
            display: inline-block;
            margin-right: 7px;

            &:not(.selected):hover {
                text-decoration: underline;
            }
            &.selected a {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
    .event-header {
        overflow: hidden;

        .event-header-bottom-container {
            font-size: 1.2em;
            .date {
                display: inline-block;
                float: left;
            }
            .request-link {
                display: inline-block;
                float: right;
            }
        }
    }
    .event-content-container {
        overflow: auto;
        border-bottom: 1px solid $main-dark-blue-color;
        margin: 0.5em 0 2em;

        .event-html-wrapper {
            float: left;
            padding: 0.5em 0;
            width: 70%;
        }
        .event-request-list-container {
            float: right;
            width: 30%;
        }
    }
}