.event-request-page-wrapper {
    b {
        display: block;
        margin: 1em 0;
    }

    .event-request-chat-container .textarea-container {
        margin-top: 0.5em;
        padding-bottom: 0;

        .send-chat-message-btn {
            display: none;
        }
        textarea.not-empty + label + .send-chat-message-btn {
            display: initial;
        }
    }
}