@import './../variables.scss';

.registration-notification {
    font-size: 2em;
    font-weight: bold;
    margin: 16px 0;
    text-align: center;
}

.main-page-wrapper {
    .video-iframne {
        display: block;
        margin: 20px auto 40px;
    }

    .main-page-block {
        margin-top: 1.5em;
    }
}