div.document-content-container
  h2
    | Как подать заявку на военно-исторический фестиваль «Поле Куликово»

  p
    | Если заявку подаете впервые необходима
    |
    a(href="/registration" target="_blank")
      | регистрация
    |
    | либо используете прошлогодний
    |
    a(href="/auth")
      | логин и пароль.
  br
  p
    | Далее во вкладке
    |
    a(href="/events" target="_blank")
      | Фестивали
    |
    | выбираем КП 2020.
  br
  p
    | Кнопка - Подать Заявку в правом углу над тестом Положения о Фестивале с которым необходимо внимательно ознакомится.

  p
    | Далее открывается Форма заявки,
    |
    b
      | при заполнении выбирайте наименование Клуба из выпадающего списка
    |
    |, если Ваш клуб отсутствует в списке вручную введите его название.
  br
  p
    | В ОПИСАНИИ КОСТЮМА необходимо указать век, регион, и этнос.
  p
    | ДЛЯ ОПЫТНЫХ РЕКОНСТРУКТОРОВ ЖЕЛАТЕЛЬНО описание каждого предмета костюма со ссылкой на источник.
  p
    | ПРОСИМ УЧИТЫВАТЬ ЧТО ПОД СТИЛИЗАЦИЕЙ ИСТОРИЧЕСКАЯ КОМИССИЯ ПОНИМАЕТ- предмет близкий к историческому аналогу по
    | форме, из исторически обусловленных материалов, с применением современных технологий.
  p
    b
      | ТРЕБУЕТСЯ НЕ МЕНЕЕ 3-х фотографий
    |
    | ( в теплом и обычном комплекте, фото аксессуаров как то пояс, серьги, фибулы и т.п. с линейкой), для воинов - фото доспеха и вооружения.
  br
  p
    | ЕСЛИ ВЫ ПОДАВАЛИ ЗАЯВКУ НА ПРЕДЫДУЩИЙ ФЕСТИВАЛЬ , войдите в ВАШИ ЗАЯВКИ, имеется техническая возможность
    |
    | СКОПИРОВАТЬ И ОТРЕДАКТИРОВАТЬ ПРОШЛОГОДНЮЮ ЗАЯВКУ.
  br
  p
    | ЗАЯВКА НА РЕБЕНКА ПОДАЕТСЯ РОДИТЕЛЯМИ
    |
    b
      | ОТДЕЛЬНО
    |
    | ПО ЭТИМ ЖЕ ПРАВИЛАМ.
  br
  br
  b
    | ДОБРО ПОЖАЛОВАТЬ НА КП-2020, ДРУЗЬЯ!
