div.document-content-container
  h2
    | Как подать заявку на военно-исторический фестиваль «Поле Куликово»

  p
    | Если заявку подаете впервые необходима
    |
    a(href="/registration" target="_blank")
      | регистрация
    |
    | либо используете прошлогодний
    |
    a(href="/auth")
      | логин и пароль.
  br
  p
    | Далее во вкладке
    |
    a(href="/events" target="_blank")
      | Фестивали
    |
    | выбираем КП
    |
    =currentYear
    |.
  br
  p
    | Кнопка - Подать Заявку в правом углу над тестом Положения о Фестивале с которым необходимо внимательно ознакомится.

  p
    | Далее открывается Форма заявки,
    |
    b
      | при заполнении выбирайте наименование Клуба из выпадающего списка
    |
    |, если Ваш клуб отсутствует в списке вручную введите его название.
  br
  p
    | В ОПИСАНИИ КОСТЮМА необходимо указать век, регион, и этнос.
  p
    | ДЛЯ ОПЫТНЫХ РЕКОНСТРУКТОРОВ ЖЕЛАТЕЛЬНО описание каждого предмета костюма со ссылкой на источник.
  p
    | ПРОСИМ УЧИТЫВАТЬ ЧТО ПОД СТИЛИЗАЦИЕЙ ИСТОРИЧЕСКАЯ КОМИССИЯ ПОНИМАЕТ- предмет близкий к историческому аналогу по
    | форме, из исторически обусловленных материалов, с применением современных технологий.
  p
    b
      | ТРЕБУЕТСЯ НЕ МЕНЕЕ 3-х фотографий
    |
    | ( в теплом и обычном комплекте, фото аксессуаров как то пояс, серьги, фибулы и т.п. с линейкой), для воинов - фото доспеха и вооружения.
  br
  p
    | ЕСЛИ ВЫ ПОДАВАЛИ ЗАЯВКУ НА ПРЕДЫДУЩИЙ ФЕСТИВАЛЬ , войдите в ВАШИ ЗАЯВКИ, имеется техническая возможность
    |
    | СКОПИРОВАТЬ И ОТРЕДАКТИРОВАТЬ ПРОШЛОГОДНЮЮ ЗАЯВКУ.
  br
  p
    | ЗАЯВКА НА РЕБЕНКА ПОДАЕТСЯ РОДИТЕЛЯМИ
    |
    b
      | ОТДЕЛЬНО
    |
    | ПО ЭТИМ ЖЕ ПРАВИЛАМ.
  br
  ul
    li
      | 1. Для облегчения работы комиссии и ускорения её ответа в форма заявки просьба указывать региональную
      |принадлежность заявки: Русь, Орда, Европа, и статус заявки: костюмированный участник, конник, воин, торговец
      | и т.д. выбрав соответствующий фильтр.
    li
      | 2. Заявка дополняется следующими фотографиями для каждого участника:
      ul
        li
          | Фотография в гражданском комплекте в полный рост,
        li
          | Фотография в боевом комплекте для участников, которые планируют участие в боевой программе фестиваля).
        li
          | Фотографии, которые при необходимости может запросить историческая комиссия.
        li
          | Фотография торгового места для торговцев.
  br
  | Принципы оценки достоверности комплекса:
  br
  ul
    li
      | 1. Комплекты костюма и доспеха должны соответствовать заявленным временным и территориальным рамкам
      |(территория русских княжеств, Золотой Орды, Европы XIII и XIV веков).
      br
      | Заимствования возможны, однако требуют обоснования.
    li
      | 2. При создании комплектов костюма и доспеха рекомендовано опираться на руководства и статьи-рекомендации,
      | опубликованные в документах группы.
    li
      | 3. Комиссия оставляет за собой право попросить обосновать те элементы снаряжения, которые кажутся
      | сомнительными.
    li
      | 4. Так же комиссия оставляет за собой право делать замечания к комплексу или отдельным его элементам, с
      | целью повышения историчности и качества комплекта как на КП -2021 так и на следующих мероприятиях .
  br
  | На фестивале действуют следующие запреты, связанные с комплектами участников:
  br
  ul
    li
      | 1. Исключить элементы костюма и украшения из других эпох (например, худы в составе костюма на Русь, кожаные
      | рубахи).
    li
      | 2. Исключить современные макияж , маникюр и украшения.
    li
      | 3. Исключить ношение женщинами явных открытых элементов мужского костюма (кроме моментов участия в боевой
      | программе фестиваля).
    li
      | 4. Исключить элементы, не имеющие обоснования (фантазийные сумки, ремни и подобное).
    li
      | 5. Исключить ношение незаявленных предметов одежды, аксессуаров и украшений. Незаявленные предметы должны быть
      | удалены по требованию членов оргкомитета и его представителей (лазурного патруля).
    li
      | 6. Запрещается ношение вещей, отклоненных исторической комиссией, в течение всего времени прохождения
      | фестивальной программы.
    li
      | 7. Запрещается нахождение в реконструкторском лагере и на показательных выступлениях фестиваля незаявленных и
      | не прошедших регистрацию людей в исторических костюмах. Если вдруг по какой-либо причине случилась замена
      | прошедшего историческую комиссию на того, кто ее не прошел, то :
      br
      ul
        li
          | -об этом необходимо сообщить на регистрации
        li
          | -человек ОБЯЗАН носить тот костюмный комплекс, который прошел историческую комиссию.
    li
      | 8. Для того, чтобы предотвратить травматизм в темное время суток разрешается ограниченное использование
      | электрических фонариков в палатке/шатре/юрте и в туалетах.
    li
      | 9. Оргкомитет настоятельно рекомендует вместо современных очков использовать контактные линзы во время
      | показательных выступлений и по возможности в светлое время суток.
      br
      | ОБРАЩАЕМ ВНИМАНИЕ НА ТО, ЧТО В СЛУЧАЕ ЗЛОСТНОГО НАРУШЕНИЯ УЧАСТНИКАМИ ПРИНЦИПОВ РАБОТЫ ИСТОРИЧЕСКОЙ КОМИССИИ,
      | БУДУТ ВЫНОСИТЬСЯ ПЕРСОНАЛЬНЫЕ ПРЕДУПРЕЖДЕНИЯ И ПРЕДУПРЕЖДЕНИЯ КЛУБАМ.
      br
      | Решение о вынесении предупреждения принимается в каждом конкретном случае всеми членами исторической комиссии,
      | лазурного патруля и комендантом.


  br
  br
  b
    | ДОБРО ПОЖАЛОВАТЬ НА КП-
    =currentYear
    |, ДРУЗЬЯ!
