div.document-content-container
  h2
    |Международный военно-исторический фестиваль «Поле Куликово»
    br
    |Положение о проведении фестиваля

  p
    | Куликово поле стало в истории России местом крупнейшего средневекового сражения, в котором решались судьбы славянских
    | народов. Еще в XIX в. возникла традиция ежегодного празднования годовщины этого события на поле Куликовской битвы.
    | С 1997 г. одним из главных мероприятий ежегодных торжеств стал Международный военно-исторический фестиваль
    | «Поле Куликово» (далее – Фестиваль).

  p
    | Фестиваль традиционно организуется и проводится Государственным музеем-заповедником «Куликово поле»
    | (далее – музей-заповедник) третью неделю сентября, приурочен у ежегодным торжествам годовщин Куликовской битвы и
    | собирает на берегах Дона и Непрядвы представителей военно-исторического движения. Фестиваль является международным
    | и служит целям патриотического воспитания подрастающего поколения, пропаганде военно-исторического прошлого,
    | объединения и развития военно-исторических клубов средневековой реконструкции.

  p
    | Фестиваль организуется для военно-исторических объединений и организаций, специализирующихся на реконструкции
    | костюма, вооружения, доспехов и снаряжения Руси и Золотой Орды с ХIII по XIV вв. включительно.

  ol(type="1")
    li
      b.list-title
        | Мероприятия и организация фестиваля
      ol
        li
          | В рамках Фестиваля проводится представление клубов участников, турнир по историческому фехтованию, турнир
          | лучников, конкурсы исторической реконструкции, бугурты, конные состязания, маневры, историческая ярмарка и
          | иные мероприятия по решению оргкомитета Фестиваля в соответствии с программой мероприятия. Центральное место
          | в работе Фестиваля занимает участие членов делегаций клубов в реконструкции Куликовской битвы на празднике,
          | посвященном годовщине сражения.
        li
          | Организационной формой Фестиваля является палаточный лагерь на Куликовом поле, территория которого является
          | ареной проведения основных пунктов программы Фестиваля. В состав полевого лагеря входит:
          ol
            li
              | Исторический лагерь. Обязательными условиями поселения и проживания на территории лагеря являются
              | наличие исторических шатров, костровых наборов, посуды, мебели (столы, лавки) (см. ниже).
            li
              | Лагерь оргкомитета. Интегрирован в лагерь участников отдельным блоком и выделен специальными табличками.
            li
              | Турнирная, конкурсные площадки Фестиваля, торговые ряды. Располагаются в  историческом лагере.
            li
              | Охраняемая автостоянка. Располагается на верхнем поле у съезда с автотрассы к месту проведения Фестиваля.
        li
          | В сроки проведения Фестиваля на его территории и на местности, непосредственно прилегающей к ней, категорически
          | запрещено без согласования с оргкомитетом разбивать какие-либо платочные лагеря и парковать автотранспорт.
          | Указанные действия будут пресекаться с помощью представителей правоохранительных органов и сотрудников
          | безопасности музея-заповедника (территория проведения Фестиваля и местность прилегающая к ней находится в
          | федеральной собственности и принадлежит на праве оперативного управления музею-заповеднику).
        li
          | Для предотвращения движения автотранспорта во время проведения Фестиваля устанавливается шлагбаум и
          | предусматривается зона для разгрузки заезжающих во время проведения Фестиваля. Постоянное нахождение
          | автотранспорта в зоне разгрузки запрещено.
        li
          | Руководящим органом Фестиваля является оргкомитет Фестиваля, которым при необходимости собирается Совет
          | руководителей делегаций военно-исторических клубов.
        li
          | Музей-заповедник и оргкомитет Фестиваля организует оповещение потенциальных участников о Фестивале,
          | организует прием и утверждение заявок, регистрацию участников, проведение Фестивальной программы,
          | обеспечивает призовой фонд, инфраструктуру лагеря (туалеты, дрова, вода и т.д.).
        li
          | Фестиваль проводится в соответствии с программой ежегодно разрабатываемой оргкомитетом, которая анонсируется
          | на сайтах музея-заповедника и военно-исторического движения и на официальной страничке Фестиваля в социальной
          | сети «Вконтакте» <a href="http://vk.com/kulpolefest">http://vk.com/kulpolefest</a>.
    li
      b.list-title
        | Условия проведения фестиваля
      ol
        li
          | Фестиваль является закрытым мероприятием. К участию в Фестивале допускаются только клубы и индивидуальные
          | участники, имеющие допуск оргкомитета, подтвержденную уполномоченными членами оргкомитета заявку, комплект
          | исторического костюма и (или) доспеха соответствующие одному из нижеуказанных статусов. К участию в Фестивале
          | допускаются клубы и индивидуальные участники, имеющие научно-обоснованную реконструкцию костюма и доспеха в
          | соответствии с минимальным набором предметов светского и боевого костюма исторической эпохи Фестиваля.
        li
          | Для получения статуса участника Фестиваля, необходимо иметь соответствующий заявленному периоду Фестиваля
          | костюм, в том числе и теплый исторический костюм, (для мужчин желательно также наличие соответствующего
          | доспеха),  заблаговременно (не менее чем за три  недели до начала Фестиваля)  пройти электронную регистрацию
          | по адресу  <a href="kulpole-fest.ru">kulpole-fest.ru</a> и получить ответ от оргкомитета  о  допуске на
          | Фестиваль. По приезду на фестивальную поляну необходимо зарегистрироваться в оргкомитете и получить карточки
          | участника Фестиваля.
          br
          div.list-like-container
            b
              | Статусы участников Фестиваля:
            div
              | 1) Командир отряда. Наличие полного богатого костюма осенней поры (сапоги, штаны, рубаха, кафтан (халат),
              | пояс, сумка, реплика холодного оружия, головной убор. Наличие доспеха желательно, но не обязательно.
            div
              | 2) Командир отряда. Наличие полного богатого костюма осенней поры (сапоги, штаны, рубаха, кафтан (халат),
              | пояс, сумка, реплика холодного оружия, головной убор. Наличие доспеха желательно, но не обязательно.Воин.
              | Наличие костюма и комплекса доспехов и вооружения (КДВ), необходимых для участия в реконструкции сражения.
            div
              | 3) Костюмированный (мужчина, женщина, ребенок) участник. Наличие полного походного комплекта одежды
              | осенней поры (сапоги, штаны, рубаха, кафтан (халат), пояс, сумка, головной убор, сопутствующие предметы
              | для выбранного образа).
            div
              | 4) Купец. Наличие полного костюма осенней поры и аутентичных товаров.
            div
              | 5) Лучник (мужчина или женщина). Наличие полного походного комплекта одежды осенней поры (сапоги, штаны,
              | рубаха, кафтан (халат), пояс, сумка, головной убор, сопутствующие предметы для выбранного образа). Наличие
              | лука, колчана и 6-ти гуманизированных стрел, для использования в реконструкции сражения во время праздника
              | годовщины Куликовской битвы.
          ol
            li
              | Все используемые ткани должны иметь натуральный состав.
            li
              | Ткани не должны иметь ненатуральных кислотных оттенков.
            li
              | Все швы на одежде должны быть ручными или внешне неотличимы от ручных.
            li
              | Костюм должен отвечать  требованию комплексности – недопустимо сочетание элементов разностатусных
              | костюмов (княжеская шапка с лаптями, серебряные украшения и некрашеное платье, золоченый шлем и латунный
              | пояс и т.д.).
            li
              | Комплекс костюма должен быть выдержан регионально, следует обосновывать использование предметов из
              | далеких территориально регионов.
            li
              | Недопустимо хождение женщин на территории лагеря Фестиваля без соответствующего временным и региональным
              | рамкам головного убора, вне зависимости от вашего реального социального статуса  (исключение только для
              | девочек и девушек младше 17 лет).
            li
              | Доспех не должен быть ржавым, помятым, оружие не должно иметь режущих заусенцев.
          li
            | Исторический допуск на элементы конкурсной программы (маневры, бугурты и т.п) осуществляют координаторы
            | данного вида программы Фестиваля согласно положений (правил) по данному виду программы.
          li
            | В случаее отсутствия допуска на Фестиваль и подтвержденной заявки, кандидату в участники Фестиваля будет
            | отказано в регистрации и он сможет присутствовать на территории Фестиваля только в современной одежде в
            | статусе зрителя. В случае несоответствия списочного состава делегации в заявке и реально приехавших
            | участников делегации решение о допуске принимается оргкомитетом на месте.( Т.е человек, прошедший допуски,
            | по каким-либо причинам не смог поехать на фестиваль. Клуб решил взять другого человека в последний момент.
            | В такой ситуации явочная регистрация допустима, при условии, что новый участник одет и вооружён вещами,
            | проходившими Допуск. При этом Оргкомитет оставляет за собой право не допускать такого участника, если
            | Оргкомитет не предупредили о такой замене любым способом (звонок, емайл, смс и т.д.) или его снаряжение не
            | проходило Допуск).
          li
            | Руководитель делегации на период проведения Фестиваля несет полную ответственность за жизнь и здоровье
            | членов своей делегации, гарантирует соблюдение делегацией клуба норм и правил настоящего Положения,
            | санитарно-гигиенических и экологических норм проживания в палаточном лагере, правил пожарной безопасности,
            | отвечает за дисциплину участников делегации, технику безопасности при проведении конкурсов и турниров
            | Фестиваля, репетиции и показательного выступления на праздничных мероприятий годовщины Куликовской битвы
            | на Красном холме.
          li
            | Все участники Фестиваля, прошедшие электронную регистрацию  и получившие допуск, могут участвовать во
            | всех мероприятиях Фестиваля, обеспечиваются дровами, водой, транспортом к месту реконструкции сражения во
            | время праздника годовщины Куликовской битвы (кроме клубов, чей транспорт оплачен оргкомитетом заранее).
          li
            | Заявка на участие в Фестивале подается по установленной форме по адресу
            | <a href="kulpole-fest.ru">kulpole-fest.ru</a> с обязательным приложением фотографий костюмов и аксессуаров,
            | в том числе и теплого исторического костюма, и КДВ на каждого кандидата участника Фестиваля.
          li
            | В сроки проведения Фестиваля на его территории категорически запрещается:
            div.list-like-container
              div
                | - держать на виду и открыто использовать любые современные предметы;
              div
                | - нахождение и любое движение автотранспорта на территории лагеря во время проведения Фестиваля,
                | исключая официальный день заезда (четверг до 15.00) и отъезда  (в субботу после 23.00 в пределах главной дороги);
              div
                | - пользование бензопилами, электрогенераторами и иными электроприборами;
              div
                | - использование неаутентичных музыкальных инструментов;
              div
                | - пользование электрофонарями, мобильными телефонами и другими гаджетами на улицах лагеря Фестиваля,
                | конкурсных и турнирных площадках, торговых рядах, у центрального костра, в тавернах. Данные действия
                | разрешены только вне территории Фестиваля или в своих лагерях в местах незаметных для других
                | участников Фестиваля;
              div
                | - курение разрешается только в лагере делегации своего клуба, у костровища или в другом месте лагеря
                | делегации своего клуба, согласованном с комендантом Фестиваля.
          li
            | Контроль за соблюдением норм и правил Положения о Фестивале возлагается на лазурный дозор, состав которого
            | выбирается оргкомитетом Фестиваля из числа наиболее активных и авторитетных участников Фестиваля.
            br
            | Членам лазурного дозора дается право делать замечания любому участнику Фестиваля о пресечении нарушений
            | норм и правил Положения о Фестивале. В случае отсутствия реакции на замечание, член лазурного дозора
            | вправе обратиться в оргкомитет для вынесения предупреждения делегации клуба. Предупреждение выносит
            | оргкомитет Фестиваля.
            br
            | В случае выявления нарушителя по итогам Фестиваля (на фотографиях) , ему выносится публичное
            | предупреждение, за повторное нарушение бан-на один год. Решение о предупреждении принимает Оргкомитет
            | Фестиваля.
          li
            | Зарегистрированные индивидуальные участники и делегации клубов Фестиваля имеют право:
            div.list-like-container
              div
                | - организовывать и размещать лагерь клуба в соответствии с положением о Фестивале;
              div
                | - обеспечиваться дровами, питьевой водой;
              div
                | - получать медицинскую помощь во время проведения Фестиваля;
              div
                | - участвовать во всех мероприятия Фестиваля, становиться призерами и победителями конкурсной и
                | турнирной программы Фестиваля;
              div
                | - обращаться в оргкомитет за помощью в экстренных ситуациях;
              div
                | - претендовать на звание лучшего клуба Фестиваля (не более двух лет подряд). Критерии определения
                | лучшего клуба Фестиваля: 1) Количество членов делегации клуба; 2) Общее число участников клуба в
                | конкурсах и турнирах; 3) Уровень оснащенности и организации лагеря клуба; 4) Наличие предупреждений,
                | вынесенных оргкомитетом или уполномоченными им лицами; 5) Количество призовых мест, занятых членами
                | клуба; 6) Помощь клуба оргкомитету в организации Фестиваля.
            | В случае присуждения оргкомитетом звания лучшего клуба Фестиваля, руководитель клуба имеет право
            | автоматически войти в состав оргкомитета, иметь права и обязанности члена оргкомитета вплоть до проведения
            | следующего Фестиваля.
            br
            | Оргкомитет по своему усмотрению может вводить следующие номинации:
            div.list-like-container
              div
                | - приз симпатий музея-заповедника «Куликово поле»;
              div
                | - приз лучшему дебютанту Фестиваля;
              div
                | - приз за лучший фестивальный лагерь;
              div
                | - приз за лучший мужской/женский исторический образ;
              div
                | - приз за лучшую семейную пару фестиваля.
          li
            | Индивидуальные участники и члены делегации клубов обязаны:
            div.list-like-container
              div
                | - иметь с собой документы удостоверяющие личность.
              div
                | - уплатить оргкомитету Фестиваля залоговый транспортный взнос за каждое транспортное средство въезжающее
                | во время заезда на территорию исторического лагеря (при выезде из зоны исторического лагеря – взнос
                | возвращается), сообщить гос.номер транспортного средства, телефон водителя и руководителя клуба ;
              div
                | - уплатить залоговый экологический взнос 500 р. с делегации клуба, который возвращается после сбора
                | лагеря, уборки территории и сдачи её представителю оргкомитета. В случае отсутствия сдачи убранной
                | территории экологический взнос не возвращается;
              div
                | - уплатить залоговый взнос в размере 1000 руб. с делегации клуба за соблюдение правил и норм настоящего
                | Положения. Взнос возвращается в день отъезда делегации клуба при условии отсутствии 3-х предупреждений
                | за нарушения указанных норм и правил. Данный пункт утрачивает силу в части историчности проживания и
                | одежды участников случае экстремальных погодных условий по решению оргкомитета Фестиваля.
              div
                | - принимать активное участие в программе мероприятий Фестиваля, согласно статуса участника;
              div
                | - соблюдать общественный порядок и дисциплину;
              div
                | - принять участие в репетиции, параде участников и реконструкции сражения на праздничных мероприятиях,
                | посвященных годовщине Куликовской битвы;
              div
                | - строго соблюдать правила проведения конкурсов, турниров и бугуртов;
              div
                | - уплатить единовременный взнос с торгующих точек во время исторической ярмарки в размере 500  руб. в день за стандартное торговое место- стол
            | Все деньги, полученные в результате сборов с участников Фестиваля, идут в фонд Фестиваля
            | и используются для его совершенствования и развития.
          li
            | Оргкомитет имеет право в случае нарушения правил общественного порядка, норм и правил настоящего положения:
            div.list-like-container
              div
                | - аннулировать карточку участника Фестиваля;
              div
                | - отказать в регистрации на последующих фестивалях;
              div
                | - занести нарушителя в общероссийскую базу данных о нарушениях и нарушителях;
              div
                | - не возвращать один или несколько залоговых взносов;
              div
                | - отказать клубу в звании лучшего клуба участника Фестиваля.
          li
            | Участники Фестиваля обязаны следовать всем требованиям членов оргкомитета или лиц уполномоченных
            | оргкомитетом в части касающейся размещения своего лагеря на площадке Фестиваля, общественного порядка,
            | норм и правил настоящего положения.
          li
            | К участию в мероприятиях Фестиваля, связанных с применением муляжей холодного оружия (турниры, бугурты,
            | маневры, реконструкция сражения и пр.) допускаются участники Фестиваля не моложе 18 лет, строго при
            | наличии карточки участника.
          li
            | Вся информация о Фестивале и схема проезда размещена на сайте
            | <a href="http://www.kulpole.ru">http://www.kulpole.ru</a>, и на официальной страничке Фестиваля в
            | социальной сети «Вконтакте» <a href="http://vk.com/kulpolefest">http://vk.com/kulpolefest</a>.

