div.document-content-container
  h1
    | Международный военно-исторический фестиваль «Поле Куликово»
  h2
    | Положение о проведении фестиваля

  p
    | Куликово поле стало в истории России местом крупнейшего средневекового сражения, в котором решались судьбы
    | славянских народов. Еще в XIX в. возникла традиция ежегодного празднования годовщины этого события на поле
    | Куликовской битвы. С 1997 г. одним из главных мероприятий ежегодных торжеств стал Международный
    | военно-исторический фестиваль «Поле Куликово» (далее – Фестиваль).

  p
    | Фестиваль традиционно организуется и проводится Государственным музеем-заповедником «Куликово поле»
    | (далее – музей-заповедник) третью неделю сентября, приурочен у ежегодным торжествам годовщин Куликовской битвы и
    | собирает на берегах Дона и Непрядвы представителей военно-исторического движения. Фестиваль является
    | международным и служит целям патриотического воспитания подрастающего поколения, пропаганде военно-исторического
    | прошлого, объединения и развития военно-исторических клубов средневековой реконструкции.

  p
    | Фестиваль организуется для военно-исторических объединений и организаций, специализирующихся на реконструкции
    | костюма, вооружения, доспехов и снаряжения Руси и Золотой Орды с ХIII по XIV вв. включительно. По решению
    | оргкомитета на фестиваль может допускаться ограниченный контингент реконструкторов Западной Европы XIV в.

  ol
    li
      b.list-title
        | Мероприятия и организация фестиваля
      ol
        li
          | В рамках Фестиваля проводится представление клубов участников, турнир по историческому фехтованию, турнир
          | лучников, конкурсы исторической реконструкции, бугурты, конные состязания, маневры, историческая ярмарка и
          | иные мероприятия по решению оргкомитета Фестиваля в соответствии с программой мероприятия. Центральное
          | место в работе Фестиваля занимает участие членов делегаций клубов в реконструкции Куликовской битвы на
          | празднике, посвященном годовщине сражения.
        li
          | Организационной формой Фестиваля является палаточный лагерь на Куликовом поле, территория которого является
          | ареной проведения основных пунктов программы Фестиваля. В состав полевого лагеря входит:
          ol
            li
              | Исторический лагерь. Обязательными условиями поселения и проживания на территории лагеря являются
              | наличие исторических шатров, костровых наборов, посуды, мебели (столы, лавки) (см. ниже).
            li
              | Лагерь оргкомитета. Интегрирован в лагерь участников отдельным блоком и выделен специальными табличками.
            li
              | Турнирная, конкурсные площадки Фестиваля, торговые ряды. Располагаются в историческом лагере.
            li
              | Охраняемая автостоянка. Располагается на верхнем поле у съезда с автотрассы к месту проведения Фестиваля.
        li
          | В сроки проведения Фестиваля на его территории и на местности, непосредственно прилегающей к ней,
          | категорически запрещено без согласования с оргкомитетом разбивать какие-либо платочные лагеря и парковать
          | автотранспорт. Указанные действия будут пресекаться с помощью представителей правоохранительных органов и
          | сотрудников безопасности музея-заповедника (территория проведения Фестиваля и местность, прилегающая к ней,
          | находится в федеральной собственности и принадлежит на праве оперативного управления музею-заповеднику).
        li
          | Для предотвращения движения автотранспорта во время проведения Фестиваля устанавливается шлагбаум и
          | предусматривается зона для разгрузки заезжающих во время проведения Фестиваля. Постоянное нахождение
          | автотранспорта в зоне разгрузки запрещено.
        li
          | Руководящим органом Фестиваля является оргкомитет Фестиваля, которым при необходимости собирается Совет
          | руководителей делегаций военно-исторических клубов.
        li
          | Музей-заповедник и оргкомитет Фестиваля организует оповещение потенциальных участников о Фестивале,
          | организует прием и утверждение заявок, регистрацию участников, проведение Фестивальной программы,
          | обеспечивает призовой фонд, инфраструктуру лагеря (туалеты, дрова, вода и т.д.).
        li
          | Фестиваль проводится в соответствии с программой ежегодно разрабатываемой оргкомитетом, которая анонсируется
          | на сайтах музея-заповедника и военно-исторического движения и на официальной страничке Фестиваля в
          | социальной сети «Вконтакте».

    li
      b.list-title
        | Условия проведения фестиваля
      ol
        li
          | Фестиваль является закрытым мероприятием. К участию в Фестивале допускаются только клубы и индивидуальные
          | участники, имеющие допуск оргкомитета, подтвержденную уполномоченными членами оргкомитета заявку, комплект
          | исторического костюма и (или) доспеха соответствующие одному из нижеуказанных статусов. К участию в
          | Фестивале допускаются клубы и индивидуальные участники, имеющие научно-обоснованную реконструкцию костюма и
          | доспеха в соответствии с минимальным набором предметов светского и боевого костюма исторической эпохи
          | Фестиваля.
        li
          | Для получения статуса участника Фестиваля, необходимо иметь соответствующий заявленному периоду Фестиваля
          | костюм, в том числе и теплый исторический костюм, (для мужчин также наличие соответствующего доспеха),
          | заблаговременно (не менее чем за три недели до начала Фестиваля) пройти электронную регистрацию по адресу
          | <a href="http://kulpole-fest.ru">http://kulpole-fest.ru</a>. и получить ответ от оргкомитета о допуске на
          | Фестиваль.
          br
          br
          | По приезду на фестивальную поляну необходимо зарегистрироваться в оргкомитете. При регистрации на фестивале
          | каждый участник должен иметь при себе документ, подтверждающий фамилию, имя, отчество в заявке
          | (паспорт или его фото, водительские права и т.д.).
          ol
            li
              | Статусы участников Фестиваля:
              ol.no-counter
                li
                  | 1) Костюмированный участник (дети до 14 лет, мужчины до 18 лет и после 60 лет, женщины). Наличие
                  | полного походного комплекта одежды осенней поры (сапоги, штаны, рубаха, кафтан (халат), пояс, сумка,
                  | головной убор, сопутствующие предметы для выбранного образа).
                li
                  | 2) Купец. Наличие полного костюма осенней поры и аутентичных товаров.
                li
                  | 3) Воин. Наличие теплого костюма осенней поры (сапоги, штаны, рубаха, кафтан (халат), пояс, сумка,
                  | головной убор), минимальный комплект вооружения (шлем, щит, короткое клинковое или древковое оружие,
                  | второй вариант – шлем и длинное древковое оружие).
                li
                  | 4) Лучник (мужчина или женщина). Наличие полного походного комплекта одежды осенней поры (сапоги,
                  | штаны, рубаха, кафтан (халат), пояс, сумка, головной убор, сопутствующие предметы для выбранного
                  | образа). Наличие лука, колчана, шлема и 6-ти гуманизированных стрел, для использования в реконструкции
                  | сражения во время праздника годовщины Куликовской битвы.
            li
              | Все используемые ткани должны иметь натуральный состав.
            li
              | Ткани не должны иметь ненатуральных кислотных оттенков.
            li
              | Все швы на одежде должны быть ручными или внешне неотличимы от ручных.
            li
              | Костюм должен отвечать требованию комплексности – недопустимо сочетание элементов разностатусных
              | костюмов (княжеская шапка с лаптями, серебряные украшения и некрашеное платье, золоченый шлем и
              | латунный пояс и т.д.).
            li
              | Комплекс костюма должен быть выдержан регионально, следует обосновывать использование предметов из
              | далеких территориально регионов.
            li
              | Недопустимо хождение женщин на территории лагеря Фестиваля без соответствующего временным и
              | региональным рамкам головного убора, вне зависимости от вашего реального социального статуса
              | (исключение только для девочек и девушек младше 17 лет).
              br
              | В случае, если девушка заявит статус воина, она, помимо комплекта вооружения и снаряжения воина, должна
              | иметь при себе полный женский костюм, который обязана носить на фестивале вне боевых действий.
            li
              | Доспех не должен быть ржавым, помятым, оружие не должно иметь режущих заусенцев.
        li
          | Исторический допуск на элементы конкурсной программы (маневры, бугурты и т.п) осуществляют координаторы
          | данного вида программы Фестиваля согласно положений (правил) по данному виду программы.
        li
          | В случае отсутствия допуска на Фестиваль и подтвержденной заявки, кандидату в участники Фестиваля будет
          | отказано в регистрации, и он сможет присутствовать на территории Фестиваля только в современной одежде в
          | статусе зрителя в обозначенное время (четверг с 15.00 до 18.00, пятница с 10.00 до 18.00). В случае
          | несоответствия списочного состава делегации в заявке и реально приехавших участников делегации решение о
          | допуске принимается оргкомитетом на месте (т.е человек, прошедший допуски, по каким-либо причинам не смог
          | поехать на фестиваль. Клуб решил взять другого человека в последний момент. В такой ситуации явочная
          | регистрация допустима, при условии, что новый участник одет и вооружён вещами, проходившими Допуск. При этом
          | Оргкомитет оставляет за собой право не допускать такого участника, если Оргкомитет не предупредили о такой
          | замене любым способом (звонок, емайл, смс и т.д.) или его снаряжение не проходило Допуск).
        li
          | Руководитель делегации на период проведения Фестиваля несет полную ответственность за жизнь и здоровье
          | членов своей делегации, гарантирует соблюдение делегацией клуба норм и правил настоящего Положения,
          | санитарно-гигиенических и экологических норм проживания в палаточном лагере, правил пожарной безопасности,
          | отвечает за дисциплину участников делегации, технику безопасности при проведении конкурсов и турниров
          | Фестиваля, репетиции и показательного выступления на праздничных мероприятий годовщины Куликовской битвы
          | на Красном холме.
        li
          | Все участники Фестиваля, прошедшие электронную регистрацию и получившие допуск, могут участвовать во всех
          | мероприятиях Фестиваля, обеспечиваются дровами, водой, транспортом к месту реконструкции сражения во время
          | праздника годовщины Куликовской битвы (кроме клубов, чей транспорт оплачен оргкомитетом заранее).
        li
          | Заявка на участие в Фестивале подается по установленной форме по адресу
          | <a href="http://kulpole-fest.ru">http://kulpole-fest.ru</a> с обязательным приложением фотографий костюмов и
          | аксессуаров, в том числе и теплого исторического костюма, и КДВ на каждого кандидата участника Фестиваля.
          br
          | В целях оперативности рассмотрения заявок желательно давать ссылки на предметы одежды и доспехов. К заявке
          | прикладывать не менее 3-х фото: в теплой и обычной одежде в полный рост, фото аксессуаров. Для бойцов -
          | фото доспехов и оружия. Для детей и подростков в возрасте до 18 лет необходимо подавать отдельную заявку с
          | обязательным указанием сопровождающего (родителей, опекунов, лиц, имеющих доверенность на сопровождение
          | ребенка).
        li
          | В сроки проведения Фестиваля на его территории категорически запрещается:
          ol.no-counter
            li
              | - держать на виду и открыто использовать любые современные предметы;
            li
              | - носить и использовать элементы костюма и доспеха, не соответствующие эпохе и региону;
            li
              | - носить женщинам видимые элементы мужского костюма;
            li
              | - носить и использовать вещи и предметы, не имеющие исторического обоснования, незаявленные предметы,
              | аксессуары и украшения;
            li
              | - нахождение и любое движение автотранспорта на территории лагеря во время проведения Фестиваля,
              | исключая официальный день заезда (четверг до 15.00) и отъезда (в субботу после 23.00 в пределах главной
              | дороги);
            li
              | - пользование бензопилами, электрогенераторами и иными электроприборами;
            li
              | - использование неаутентичных музыкальных инструментов;
            li
              | - пользование электрофонарями, мобильными телефонами и другими гаджетами на улицах лагеря Фестиваля,
              | конкурсных и турнирных площадках, торговых рядах, у центрального костра, в тавернах. Данные действия
              | разрешены только вне территории Фестиваля или в своих лагерях в местах незаметных для других участников
              | Фестиваля;
            li
              | - курение разрешается только в лагере делегации своего клуба, у костровища или в другом месте лагеря
              | делегации своего клуба, согласованном с комендантом Фестиваля.
        li
          | Контроль за соблюдением норм и правил Положения о Фестивале возлагается на лазурный дозор, состав которого
          | выбирается оргкомитетом Фестиваля из числа наиболее активных и авторитетных участников Фестиваля.
          br
          | Членам лазурного дозора дается право делать замечания любому участнику Фестиваля о пресечении нарушений
          | норм и правил Положения о Фестивале. В случае отсутствия реакции на замечание, член лазурного дозора вправе
          | обратиться в оргкомитет для вынесения предупреждения делегации клуба. Предупреждение выносит оргкомитет
          | Фестиваля.
          br
          | В случае выявления нарушителя по итогам Фестиваля (на фотографиях), ему выносится публичное предупреждение,
          | за повторное нарушение бан-на один год. Решение о предупреждении принимает Оргкомитет Фестиваля.
        li
          | Зарегистрированные индивидуальные участники и делегации клубов Фестиваля имеют право:
          ol.no-counter
            li
              | - организовывать и размещать лагерь клуба в соответствии с положением о Фестивале;
            li
              | - обеспечиваться дровами, питьевой водой;
            li
              | - получать медицинскую помощь во время проведения Фестиваля;
            li
              | - участвовать во всех мероприятия Фестиваля, становиться призерами и победителями конкурсной и
              | турнирной программы Фестиваля;
            li
              | - обращаться в оргкомитет за помощью в экстренных ситуациях;
            li
              | - в качестве эксперимента в 2022 г. оргкомитетом не будет определяться лучший клуб фестиваля. Во время
              | фестиваля будет проводиться игра «Борьба за ярлык» (см. приложение), итогом которой будет победа одного
              | из межклубных объединений. Максимальное количество членов объединений не ограничено, но победителям
              | будет вручено до 50 памятных призов.
        li
          | Индивидуальные участники и члены делегации клубов обязаны:
          ol.no-counter
            li
              | - уплатить залоговый экологический взнос 500 р. с делегации клуба, который возвращается после сбора
              | лагеря, уборки территории и сдачи её представителю оргкомитета. В случае отсутствия сдачи убранной
              | территории экологический взнос не возвращается;
            li
              | - уплатить залоговый взнос в размере 1000 руб. с делегации клуба за соблюдение правил и норм настоящего
              | Положения. Взнос возвращается в день отъезда делегации клуба при условии отсутствии 3-х предупреждений
              | за нарушения указанных норм и правил. Данный пункт утрачивает силу в части историчности проживания и
              | одежды участников случае экстремальных погодных условий по решению оргкомитета Фестиваля.
            li
              | - принимать активное участие в программе мероприятий Фестиваля, согласно статуса участника;
            li
              | - соблюдать общественный порядок и дисциплину;
            li
              | - принять участие в репетиции, параде участников и реконструкции сражения на праздничных мероприятиях,
              | посвященных годовщине Куликовской битвы;
            li
              | - строго соблюдать правила проведения конкурсов, турниров и бугуртов;
            li
              | - уплатить единовременный взнос с торгующих точек во время исторической ярмарки в размере 700 руб. за
              | стандартное торговое место-стол.
          br
          | Все деньги, полученные в результате сборов с участников Фестиваля, идут в фонд Фестиваля и используются
          | для его совершенствования и развития.
        li
          | Оргкомитет имеет право выносить в случае нарушения правил общественного порядка, норм и правил настоящего
          | положения:
          ol.no-counter
            li
              | - устное замечание;
            li
              | - официальное предупреждение;
            li
              | - исключение участника из числа лиц, потенциальных участников фестиваля с занесением в специальную базу
              | данных;
            li
              | - не возвращать один или несколько залоговых взносов;
            li
              | - отказать клубу в звании лучшего клуба участника Фестиваля.
        li
          | Участники Фестиваля обязаны следовать всем требованиям членов оргкомитета или лиц, уполномоченных
          | оргкомитетом в части касающейся размещения своего лагеря на площадке Фестиваля, общественного порядка,
          | норм и правил настоящего положения.
        li
          | К участию в мероприятиях Фестиваля, связанных с применением муляжей холодного оружия (турниры, бугурты,
          | маневры, реконструкция сражения и пр.) допускаются участники Фестиваля не моложе 18 лет.
        li
          | Вся информация о Фестивале и схема проезда размещена на сайте, и на официальной страничке Фестиваля в
          | социальной сети «Вконтакте».

  h2
    | Правила игры «Борьба за Ярлык»
    br
    |   XXVI Международного военно-исторического фестиваля «Поле Куликово»
  ol
    li
      b.list-title
        | Общие положения
      ol
        li
          | Игра «Борьба за Ярлык» имеет целью разнообразить и обновить программу военно- исторического фестиваля
          | «Поле Куликово». Внесение составляющей, присущей историческим ролевым играм даст возможность насытить
          | жизнь на фестивале ролевым отыгрышем, придаст дополнительный стимул к участию в соревнованиях и культурных
          | мероприятиях, а также даст дополнительные задачи маневрам.
        li
          | Игра отражает реалии второй половины XIV века в Северо-восточной Руси и Джучиевом Улусе. Игра проводится
          | полтора дня. Начинается после открытия фестиваля и заканчивается в ночь перед днём показательных
          | выступлений. Участниками игры могут быть все делегаты фестиваля, как индивидуальные, так и в составе команды.
        li
          | Для обеспечения игры, наблюдения за правилами игры, выдачей и курированием квестов,  решением спорных
          | вопросов создается команда игромастеров в составе:
          ol.no-counter
            li
              | - главный игромастер;
            li
              | - великий хроникер;
            li
              | - игромастера - 6 человек (по одному на каждое Великое Княжество и два в Орду).
    li
      b.list-title
        | Игровая ситуация на начало игры
      ol
        li
          | Русь. В игре представлены  четыре основных «Великие княжества» которые имеют право претендовать на
          | ярлык на Великое Княжение.  Это:
          ol.no-counter
            li
              | - Московское княжество;
            li
              | - Тверское княжество;
            li
              | - Рязанское княжество;
            li
              | - Суздальско-Нижегородское княжество.
          | Эти «Великие княжества» представляют самые многочисленные делегации, приехавшие на фестиваль в составе
          | Руси. Число великих княжеств может варьироваться.
          br
          | Остальные команды представляют «Удельные княжества» и присоединяются к действиям «Великих княжеств»
          | составляя коалицию. При этом расширение коалиции дает разнообразные бонусы и «Очки Политического Веса»
          | (в дальнейшем просто «ОПВ»), на основе подсчета которых и определяется победитель в борьбе за ярлык.
          br
          | Ярлык на «Великое Княжение» определяется по итогам всей игры и вручается вечером второго дня фестиваля.
        li
          | Орда. На начало игры в Орде есть Великий Хан. Его слово непререкаемо, воля его – закон. Его распоряжения
          | обязательны к выполнению не только ордынской, но и русской стороной. (Это мастерский персонаж,
          | выполняющий свои игровые функции по игровой необходимости.)
          br
          | Кроме того, в Орде борются за власть два биклярбека. Они так же набирают «ОПВ» различными действиями.
          | Остальные представители ордынской стороны на начало игровой ситуации свободны в своих действиях, могут
          | вступать в любые временные коалиции, если это не противоречит прямому приказу Великого Хана.
          br
          | На начало игры Великий Хан «болен» и ожидается, что он покинет сей бренный мир после полудня второго
          | дня игры. И в Орде настанет некоторая «Замятня», после которой определится, кто из беклярбеков получит
          | власть в Орде. При этом оба биклярбека (условно назовем их Тимур и Мамай) не Чингизиды. А среди
          | ордынской части игроков выделяются потомки Чингиз-Хана, которые тоже могут включиться в процесс борьбы
          | за ханский престол (лучше если это будут два мужчины и две женщины). Таким образом сложившаяся ситуация
          | поможет сделать политическую составляющую игры весьма динамичной.
    li
      b.list-title
        | Очки политического веса
      ol
        li
          | Для определения ценности игровых действий и более-менее адекватного судейства в принятии решения кто получит
          | ханский ярлык (а также для выявления других поощрительных конкурсов) вводится понятие
          | «Очки Политического Веса» (ОПВ).
          br
          | ОПВ - это определение качественной ценности игрового действия для принятия судейских решений, выраженное
          | в числовом виде. Для того, чтобы игровое действие получило ОПВ, оно (как то: пир, принятое послов,
          | помолвка, свадьба, игровой суд, боевые действия и т.д и т.п. в котором принимают представители двух и
          | более команд) должны быть записаны в «Летописи княжений», или «Ордынские хроники», которые ведут
          | специально выделенные игроки, представляющие каждое из Великих Княжеств или команд (домов) беклярбеков.
        li
          | Каждому объявленному и проведенному игровому событию, записанному в летописи, присваивается определённое
          | количество ОПВ, согласно количеству участников в этом событии:
          ol.no-counter
            li
              | - от 2 до 10 человек - 1 ОПВ;
            li
              | - от 10 до 12 чел - 2 ОПВ;
            li
              |- свыше 30 чел - 3 ОПВ.
          br
          | За качество проведенного игрового действия мастерами игры может добавляться дополнительно 1 ОПВ. В случае,
          | если игровое событие имело вид конкурса, или соревнований, то к ОПВ дающимся за количество, дополнительно
          | даются ОПВ за победу:
          ol.no-counter
            li
              | - за 1 место - 3 ОПВ;
            li
              | - за 2 место - 2 ОПВ;
            li
              | - за 3 место - 1 ОПВ.
          br
          | Если в игровом событии принимали участие представители двух и более великих княжеств, то летописцы имеют
          | право каждый записать это событие в плюс каждому княжеству. При этом явный инициатор события получает еще
          | ОПВ равное ОПВ даваемое за количество участников.
        li
          | Примеры:
          ol
            li
              | К великому князю московскому пришел посол от удельного княжества Елецкого. Присутствовали: князь
              | московский, два телохранителя, жена князя московского, летописец, казначей, два дружинника (8 человек),
              | посол и его помощник (2 человек). Итого 10 человек. За событие присваивается 1 ОПВ. Но посольство было
              | отыграно очень красиво и мастер игры может добавить еще 1 ОПВ. Итого 2 ОПВ.
            li
              | Великий князь тверской устроил пир с состязанием гусляров. Присутствовали люди из разных княжеств
              | количеством 25 чел. В том числе два летописца от Тверского и Рязанского княжества. В состязании победили:
              ol.no-counter
                li
                  | - 1 место - гусляр из Москвы;
                li
                  | - 2 место - гусляр из Твери;
                li
                  | 3 место - гусляр из Рязани.
              br
              | Тверскому княжеству полагается: 3 ОПВ - за количество участников; 3 ОПВ - за инициативу; 2 ОПВ - за 2
              | место в конкурсе. Итого 8 ОПВ. Так как в событии был летописец из Рязани, то Рязани запишут: 3 ОПВ за
              | количество участников; 1 - ОПВ за 3 место в конкурсе. Итого: 4 ОПВ.
              br
              | Если победитель из Москвы донесет известие о своей победе до московского летописца (которого не было
              | на событии) и летописец запишет упоминание о событии, то Московское княжество получит 3 ОПВ.
            li
              | Биклярбек Мамай дал пир в честь здоровья Великого Хана. Присутствовало: 5 человек беклярбека Мамая, 5
              | человек из Московского княжества, 5 человек беклярбека Тимура. Итого 15 человек. В итоге начисляется:
              | за количество людей - 2 ОПВ, за инициативу - 2ОПВ. Итого: 4 ОПВ.
            li
              | За маневры подсчет очков идет следующим образом. Сошлись в бою два отряда. Княжество Московское - 30
              | человек и княжество Тверское - 20 человек. Победило княжество Тверское. Московское княжество получит:
              | за манеры и общее количество участников в бою - 3 ОПВ; за количество человек в дружине – 3 ОПВ. Итого:
              | 6 ОПВ.
              br
              | Тверское княжество получит: за общее количество участников в бою – 3 ОПВ; за количество человек в
              | дружине – 2 ОПВ; за победу - 3 ОПВ. Итого: 8 ОПВ.
              br
              | То есть в маневрах оценивается только победа.
    li
      b.list-title
        | Летописцы
      ol
        li
          | Летописцы играют очень важную роль. Они ведут летопись каждого великого княжества и ордынские хроники.
          | Летописцами назначаются участники фестиваля из состава команд великих княжеств, самими командами.
        li
          | Для координации деятельности летописцев и хроникеров из состава игромастеров выделяется специальный
          | мастер (назовем его, скажем, «Великим хроникером»). Он координирует работу летописцев. Решает спорные
          | вопросы, помогает в случае затруднений с определением количества ОПВ, добавляет поощрительные ОПВ за
          | качество. В данном случае он может прибавлять ОПВ лично или на основе информации от других игромастеров.
        li
          | Летописцы регистрируются у мастера игры, ответственного за летописцев. Летописцы должны иметь кроме всего
          | прочего, книгу летописи и письменные принадлежности, куда они записывают все, достойные с их точки зрения
          | события игры. И на основе его летописи определяется количество ОПВ, которые набирает великое княжество
          | или ставка беклярбека. В летописях и хрониках записывается и численность людей и победы и прочее. После
          | игры записи летописцев могут быть опубликованы на специальных информационных площадках.
        li
          | Всего на игре присутствует не менее:
          ol.no-counter
            li
              | - 4 летописцев великих княжеств;
            li
              | - 2 ордынских хроникера.
          br
          | Однако, по желанию удельные княжества тоже могут завести себе летописцев и включиться в историческую
          | борьбу. В таком случае такой летописец тоже должен зарегистрироваться у великого хроникера. И дальше
          | работает на общих основаниях. И если в конце игры количество ОПВ этого удельного княжества будет больше,
          | чем количество ОПВ какого-либо великого княжества, то такое удельное княжество становится великим, а
          | великое - удельным.
    li
      b.list-title
        | Маневры
      ol
        li
          | Маневры являются заранее намеченным игровым мероприятием, с несколькими вводными. В маневрах могут
          | участвовать сводные дружины великих княжеств, которые объединяют в себе как дружину великого князя, так и
          | дружины присоединившихся к ней дружины удельных княжеств.
          br
          | Такую сводную дружину будем в дальнейшем называть «Войско», то есть:
          ol.no-counter
            li
              | - Войско Московского княжества;
            li
              | - Войско Тверского княжества;
            li
              | - Войско Рязанского княжества;
            li
              | - Войско Суздальско-Нижегородского княжества.
          br
          | При этом Войско одного княжества может вступать в союз с войском другого княжества, образовывая коалицию.
          | Или выступать самостоятельно.
        li
          | Каждый воин в Войске того или иного княжества имеет определенное количество очков жизни (хитов). Это
          | количество определяется размером удельных княжеств, входящих в Войско того или иного великого княжества,
          | по отыгранному процессу договора, внесенного в летопись. Такие договора отыгрываются заранее, до маневров.
        li
          | Изначально каждый воин как удельного, так и великого княжества имеет 1 хит. Если накануне было отыграно
          | заключение договора с удельным княжеством, то воины этого удельного и воины великого княжества будут иметь
          | 2 хита. Если так же было отыграно 2 договора, и, что обязательно, внесены в летопись, то будет у всех
          | участников договора 3 хита. И так далее. При вступлении в коалицию Войска великих княжеств имеют каждый
          | своё количество хитов.
        li
          | Отряды Орды, как и отдельные ордынские воины, могут вливаться в Войска великих княжеств, как по приказу
          | Великого Хана, так и по договорам с  беклярбеками, так и по своему желанию. Ордынцы имеют 4 хита. Их
          | участие в коалициях и войсках великих княжеств Войску хитов не прибавляют и самим ордынцам не прибавляют:
          | то есть 4 хита.
        li
          | Хиты снимаются при попадании боевой частью оружия в поражаемую зону, которая включает в себя все тело,
          | за исключением стоп, кистей и паха.
          br
          | При этом можно только рубить. Копья могут колоть, но в таком случае голова не входит в поражаемую зону.
          | Попадание из лука или арбалета снимает 2 хита (кроме попадания в лицо). Сулицей и дротиком – 1 хит.
          br
          | Неодоспешеный лучник погибает, если в него попадает стрела (очки снимаются на общих основаниях) или если
          | до него добирается противник на расстояние 1 метр и говорит - «Убил!». В таком случае, лучник выходит из
          | боя.
        li
          | Правила боя по всадникам решают всадники. Всадники ведут бой со всадниками холодным и дистанционным
          | оружием. Всадники с пехотой ведут бой только дистанционным оружием. Количество хитов на общем основании.
          | Условия боя определяются дополнительно.
    li
      b.list-title
        | Подведение итогов игры и финал.
      ol
        li
          | Финал состоится вечером второго дня фестиваля, накануне дня показательных выступлений. На финале
          | определяется какое из великих княжеств получает ярлык на великое княжение, а также разыгрывается приход
          | баскаков от победившего в Орде биклярбека с требованием дани. Объявляется война, сиречь прелюдия к
          | Куликовской битве (возглавить которую может и Рязанское княжество в варианте нашей игры).
        li
          | Подсчет победителей проводится на основе летописных записей и начинается за 1 час до финала игры.
        li
          | Победившее княжество получает ярлык на великое княжение и памятные подарки.