div.document-content-container
  h2
    | Принципы работы исторической комиссии
    br
    | Уважаемые участники фестиваля «Куликово Поле»!

  p
    | Мы оценили опыт работы предыдущих лет и сформулировали принципы, на которые будет опираться в своей работе
    | историческая комиссия и лазурный патруль, а также предлагается опираться участникам при подготовке костюма
    | и доспеха к фестивалю.

  p
    | ЗАЯВКИ на фестиваль «Куликово Поле» принимаются ТОЛЬКО через электронную форму подачи заявки на сайте фестиваля.
    | Ниже приведен алгоритм подачи заявки, сроки и технические требования.
    br
    | Технические требования к заявке:
    br
    | Заявка подается до 31 августа 2021года индивидуальными участниками или руководителями клубов на каждого
    | участника клуба через форму регистрации сайте фестиваля
    | <a href="/registration">http://kulpole-fest.ru/registration</a>