div.document-content-container
  h2
    | Принципы работы исторической комиссии
    br
    | Уважаемые участники фестиваля «Куликово Поле»!

  p
    | Мы оценили опыт работы предыдущих лет и сформулировали принципы, на которые будет опираться в своей работе
    | историческая комиссия и лазурный патруль, а также предлагается опираться участникам при подготовке костюма и
    | доспеха к фестивалю.

  p
    | Технические требования к заявке:

    ul
      li
        | 1. Заявка подается индивидуальными участниками , либо членами клуба индивидуально  на сайт Фестиваля
        | <a href="http://kulpole-fest.ru/">http://kulpole-fest.ru/</a> по форме вывешенной на сайте.
      li
        | 2. Для подачи заявки необходимо пройти там же на сакйте процедуру электронной регистрации. Заявка в которой
        | указывается статус участника, регион, период бытования  костюма и описание  материалов и источников,
        | дополняется следующими фотографиями для каждого участника:
        ul
          li
            | - Фотография в гражданском комплекте в полный рост.
          li
            | - Фотография в боевом комплекте для участников, которые планируют участие в боевой программе фестиваля).
          li
            | - Фотографии аксессуаров.
          li
            | - Фотографии, которые при необходимости может запросить историческая комиссия.
          li
            | - Фотография торгового места для торговцев.
  p
    | Принципы оценки достоверности комплекса:
    ol
      li
        | Комплекты костюма и доспеха должны соответствовать заявленным временным и территориальным рамкам
        | (территория русских княжеств, Золотой Орды, Европы XIII и XIV веков). Заимствования возможны, однако требуют
        | обоснования.
      li
        | При создании комплектов костюма и доспеха рекомендовано опираться на руководства и статьи-рекомендации,
        | опубликованные в документах группы.
      li
        | Комиссия оставляет за собой право попросить обосновать те элементы снаряжения, которые кажутся сомнительными.
      li
        | Так же комиссия оставляет за собой право делать замечания к комплексу или отдельным его элементам, с целью
        | повышения историчности и  качества комплекта
  p
    | На фестивале действуют следующие запреты, связанные с комплектами участников:
    ol
      li
        | Исключить элементы костюма и украшения из других эпох (например, худы в составе костюма на Русь, кожаные
        | рубахи,  сережки cалтовского типа).
      li
        | Исключить современные макияж , маникюр и украшения.
      li
        | Исключить ношение женщинами явных открытых элементов мужского костюма (кроме моментов участия в боевой
        | программе фестиваля).
      li
        | Исключить элементы, не имеющие обоснования (фантазийные сумки, ремни и подобное).
      li
        | Исключить ношение незаявленных предметов одежды, аксессуаров и украшений. Незаявленные предметы должны быть
        | удалены по требованию членов оргкомитета и его представителей (лазурного патруля).
      li
        | Для того, чтобы предотвратить травматизм в темное время суток разрешается ограниченное использование
        | электрических фонариков в палатке/шатре/юрте и в туалетах.Оргкомитет настоятельно рекомендует вместо
        | современных очков использовать контактные линзы во время показательных выступлений и по возможности в светлое
        | время суток.